button {
	grid-row: 8 / 9;
	grid-column: 7 / 8;
	width: 10rem;
	border-radius: 10px;
	height: 3.5rem;
	align-self: flex-end;
	background-color: #3caea3;
	color: #fff;
	cursor: pointer;
	box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.2);
	transition: all 0.2s ease;
}

button:hover {
	box-shadow: none;
	transform: translate(2px, 2px);
}

button:focus {
	outline: none;
}

.delete {
	background-color: red;
	grid-row: 1 / 2;
	grid-column: 8 / 9;
	align-self: center;
}
